

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Lato Regular 400', sans-serif ;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    
}

h1{
    font-family: 'Lato';
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}
h2{
    
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}

p{
    margin: 10px, 0px;
}
img{
    width: 100%;
}

/* Navbar */

.navbar{
    
    background-color: #047aed;
    color: azure;
    height: 70px;
    padding: 2px 10px;
}

.navbar ul{
    display: flex;
}

.navbar a {
    color:azure;
    padding: 20px 10px;
    margin: 0px 20px;
    font-weight: 200;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex{
 justify-content: space-between;
}

/* Details */

.details {
    height: 500px;
    background-color: #047aed;
    color: #fff;
    position:relative;
    justify-self: flex-end;
}
.details-text{
    font-size: 18px;
}

.details p{
    margin: 0px;
}

.details .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.details a {
    color:azure;
    padding: 10px ;
    margin: 5px 5px;
    font-weight: 400;
    font-size: 20px;
}
.details a:hover {
    border-bottom: 2px #fff solid;
}
.details-text h2{
    font-family: 'Lato';
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}

.details-page{
    position: relative;
    top: 60px;
    height: 300px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    
}
.details-page h2{
    font-family: 'Lato';
    font-weight: 100;
    line-height: 1.2;
    margin: 10px 0px;
}
.details img{
    width: 450px;
    height: 500px;
    box-shadow: 0 20px 20px rgba(7, 0, 0, 1);
}



/* Used all over */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    
}

.card{
    background-color: #f1f3f5;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
    
}

.card a{
    color: #333333;
}
.card h2{
    font-family: 'Lato';
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0px;
    color: #fff;
}


.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #4989f9;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    
}

.details .btn-outline{
    background-color: transparent;
    border: 1px #fff solid;
}
.btn:hover{
    transform: scale(0.90);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }


    /* SERVICE PAGE CSS*/
.features-head img{
    width: 200px;
    justify-self: flex-end;
}

.features-head p{
    margin: 10px 10px;
}

.features-text p{
    font-family: 'Lato';
    font-size: 20px;
    margin: 10px 20px;
}

.features-text h2{
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 20px;
}
.section p{
    color: #333;
    text-align: justify;
}

.section .btn{
    color: #047aed;
}

.section h2{
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #0c0000;
    
}

.section img{
    
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); 
        margin-bottom: 10px;
    
}



.services {
    height: 350px;
    background-color: #047aed;
    color: #fff;
    position:relative;
    line-height: 2.2;
    

}
.services img{
    width: 500px;
    justify-self: center;
    
}

.services .btn{
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #4989f9;
    color: #047aed;
    border: none;
    border-radius: 5px;
    text-align: center;
    line-height: 5.2;
    
}

.services.btn.grid{
    grid-template-columns: auto;
    gap: 50px
}

.services img{
    
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 10px;

}



.btn-outline {
    background-color: transparent;
    border: 1px #047aed solid;
}

.services a{
    color:#047aed;
    padding: 10px ;
    margin: 5px 5px;
    font-weight: 400;
    font-size: 20px;
    
}

.space{ 
    margin-top: 20px;
}


/* Contact Page CSS */

.details-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    margin: 50px 30px;
}
.contact h2{
    color: #0c0000;
}

.card .form-control{
    margin: 30px 0px;
}

.card .form-control input[type='text'],
.card .form-control input[type='email'],
.card .form-control input[type='tel'],
.card .form-control input[type='date']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 20px;
}

.card .form-control input:focus{
    outline: none;
}

.contact img{
    position:relative;
    width: 600px;
    height: 400px;
    padding: 0px;
    margin: 50px 300px;
    z-index: 100;
    justify-self: center;
    box-shadow:  0 20px 20px rgba(0, 0, 0, 0.5);
}


  /* Footer */

.bg-dark a{
    background-color: #27167c;
    color: #fff;
}
footer {
    background-color: #27167c;
   
}

 footer h1, p{
    color: #fff;
 }
footer .social a{
    margin: 0 10px;
    color: #fff;
}

footer a:hover {
    border-bottom: 2px #fff solid;
}



/* RESPONSIVE */

/* Tablets & Under */

@media(max-width: 768px){
    .grid, 
    .details .grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .details{
        height: auto;
    }
    .section, .services{
       height: auto;
    }
}

/*MOBILE*/

@media(max-width: 500px){
    .navbar{
        height:110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
   

}


